@using EXPT.Models;
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Addbycat</title>
</head>
<body>
    @foreach(catagory cn in Model.catlist)
            {

            }
</body>
</html>
